$keyColorBar: linear-gradient(90deg, rgba(238, 238, 238, 0.986899) 2%, rgba(150, 80, 80, 0.986899) 37%, rgba(231, 191, 11, 0.986899) 100%, #9f89ee 1000%);
$borderColor:rgb(56, 3, 3);
$boxColor:#BD2E2E;
$blackL:rgba(56, 3, 3,0.2);
$fontColor:#1380e6;
$black:black;
$grey:#454242dc